{% extends "index.njk" %}

{% block mainContent %}
    <form action="/" method="POST">
        <textarea name="value" id="value">{{value}}</textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}