{% extends "index.njk" %}

{% block mainContent %}
    <form action="/" method="POST">
        <textarea name="submittedValues" id="submittedValues">{{submittedValues}}</textarea>
        {% if valueTresholds %}
        <select name="aviosValue">
            {% for item in valueTresholds %}
                <option value="{{item.value}}" {% if item.value == aviosValue %}selected{% endif %}>
                    {{item.name}}
                </option>
            {% endfor %}
        </select>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
    {% if processed %}
        <h2>Result</h2>
        <p>If you value an Avios point at {{aviosValue / 100}}p, these are the total possible costs of your redemption:</p>
        <table>
            <tr>
                <th>Avios + Cash</th>
                <th>Combined cash value</th>
            </tr>
            {% for item in processed %}
                <tr>
                    <td>{{ item.input }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}